.todo-creator {
  @include flexbox(between);
  margin-bottom: 2rem;
  .btn {
    position: absolute;
    top: -37px;
    right: 16px;

    .ic-write {
      color: $white;
      transform: translate(-1px, 1px);
    }
  }
}
