.todo-wrap {
  height: 50%;
  padding: 1rem 0;

  &-title {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: $gray8;
  }

  &-list {
    width: 100%;
    height: 80%;
    padding: 0 1rem;
    overflow-y: scroll;
  }
}
