$green: #65dc40;
$green-dark: #64b840;
$blue: #27abff;
$blue-dark: #1c7bb8;
$blue-light: #ebf7ff;
$yellow: #fbba3c;
$red: #c83b3b;
$gray8: #8C8D96;
$grayD: #dadada;
$grayF: #fcfbfc;
$white: #fff;
$black: #000;