%btn-base {
  @include inline-flexbox();
  height: 2.8rem;
  padding: 0 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid $black;
  font-weight: 700;
  transition: background-color 200ms ease-in-out;
}

.btn-add {
  @extend %btn-base;
  color: $white;
  background-color: $green;

  &:not(:disabled):hover {
    background-color: $green-dark;
  }
}

.btn-delete {
  @extend %btn-base;
  color: $white;
  background-color: $red;

  &:not(:disabled):hover {
    background-color: $red-dark;
  }
}
