.input-group {
  position: relative;

  .form-input {
    display: block;
    width: 100%;
    background-color: $white;
    border-radius: 4px;
    border-bottom: 1px solid transparent;
    padding-left: 16px;
    appearance: none;

    &:focus {
      border-bottom-color: $gray8;
    }
  }

  .ic-write {
    @include pos-center-y;
    font-size: 1.6rem;
  }
}

.radio-group {
  @include flexbox(start);

  .form-radio {
    position: relative;
    @include inline-flexbox;

    &:not(:last-child) {
      margin-right: 0.7rem;
    }

    input[type='radio'] {
      position: absolute;
      width: 1px;
      height: 1px;
      border: 0;
      padding: 0;
      margin: -1px;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
    }

    label {
      position: relative;
      font-weight: 500;
      cursor: pointer;
      user-select: none;

      &::before {
        content: '';
        @include flexbox;
        width: 2.22rem;
        height: 2.22rem;
        border-radius: 50%;
        color: $white;
      }

      &.high::before {
        content: 'A';
        background-color: $red;
      }
      &.middle::before {
        content: 'B';
        background-color: $blue;
      }
      &.low::before {
        content: 'C';
        background-color: $green;
      }
      &.lowest::before {
        content: 'D';
        background-color: $yellow;
      }
    }

    input[type='radio']:checked + label:before {
      box-shadow: $base-shadow;
    }
  }
}
