@font-face {
  font-family: 'todo';
  src:  url('./assets/fonts/todo.eot');
  src:  url('./assets/fonts/todo.eot') format('embedded-opentype'),
    url('./assets/fonts/todo.ttf') format('truetype'),
    url('./assets/fonts/todo.woff') format('woff'),
    url('./assets/fonts/todo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
